name: tint
description: A library for terminal string styling as an extension on `String`.
version: 2.0.1
repository: https://github.com/frencojobs/tint

environment:
  sdk: ">=2.18.0 <3.0.0"

dev_dependencies:
  lint: ^2.0.1
  test: ^1.22.2

scripts:
  format: dartfmt -w .
  pub:
    - $format
    - $test
    - pana
    - dart pub publish --dry-run
  test: dart run test -r expanded
